@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Alkatra", cursive, sans-serif;
  font-size: calc(12px + (16 - 12) * (100vw - 600px) / (1200 - 600));
}
body {
  background: linear-gradient(
    to bottom,
    #ff9aa2,
    #ffb7b2,
    #ffd7c0,
    #fff8d1,
    #e1f7d5,
    #b2e6e2,
    #81c3d7,
    #5ea8d6,
    #5eadfc,
    #84e1ff,
    #a7f3ff,
    #caffff
  );
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  max-height: fit-content;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 1.3em;
}

.content-container {
  width: min(80vw, 1300px);
  min-width: 210px;
  margin: 0 auto;
}

.content {
  width: 100%;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.challenge {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5rem;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  background: #f8e6e8;
  height: min(80vw, 300px);
}

.challenge__title {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 1.1rem;
}

.challenge .image-container {
  height: 100%;
  background-color: #81c3d7;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.challenge__img {
  object-fit: cover;
  object-position: center;
  /* width: calc(296px + (667 - 296) * (100vw - 296px) / (667 - 296)); */
  width: 100%;
  height: 100%;
}

.challenge__links {
  height: 3.5rem;
}

.content-container .challenge__links {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-top: 1px solid black;
}

.challenge__link {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: black;
  text-decoration: none;
  font-size: 1.1em;
  border-right: 1px solid black;
}

.challenge__link:hover {
  color: white;
  background-color: rgb(55, 48, 48);
}

.challenge__link:nth-last-of-type(1) {
  border: none;
  border-end-end-radius: 7px;
}

.challenge__link:nth-last-of-type(3) {
  border-end-start-radius: 7px;
}

@media (max-width: 380px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
