@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

:root {
  --background: #222222;
  --main-text-clr: #efefef;
  --challenge-bg-clr: rgb(55, 48, 48);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Alkatra", cursive, sans-serif;
  font-size: calc(10px + (14 - 12) * (100vw - 600px) / (1200 - 600));
  line-height: clamp(1.4rem, 4vw, 1.8rem);
}
body {
  /* background: linear-gradient(
    to bottom,
    #ff9aa2,
    #ffb7b2,
    #ffd7c0,
    #fff8d1,
    #e1f7d5,
    #b2e6e2,
    #81c3d7,
    #5ea8d6,
    #5eadfc,
    #84e1ff,
    #a7f3ff,
    #caffff
  );
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat; */
  background-color: #222222;
  color: #efefef;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  max-height: fit-content;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 1.3em;
}

.content-container {
  width: min(80vw, 1300px);
  min-width: 210px;
  margin: 0 auto;
}

.content {
  width: 100%;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.challenge {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5rem;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  background: var(--challenge-bg-clr);
  height: min(80vw, 300px);
  transition: transform 250ms ease-in-out;
}

.challenge .light-holder {
  position: absolute;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challenge .light-holder .material-symbols-outlined {
  position: absolute;
  top: -60px;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.challenge .light-holder .light {
  position: relative;
  top: -46px;
  width: 100%;
  height: 200px;
}

.challenge .light-holder .light::before {
  content: "";
  position: absolute;
  right: 0%;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
  background: linear-gradient(
    180deg,
    rgb(255, 252, 203) 0%,
    rgba(255, 255, 255, 0) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  z-index: 1;
}

.challenge:hover .light-holder .light::before,
.challenge:hover .challenge__img {
  opacity: 1;
}

.challenge:hover {
  transform: translate(0.5rem, -0.3rem) scale(1.02);
}

.challenge__title {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 1.4rem;
  z-index: 3;
}

.challenge .image-container {
  height: 100%;
  background-color: #010b0f;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.challenge__img {
  object-fit: cover;
  object-position: center;
  /* width: calc(296px + (667 - 296) * (100vw - 296px) / (667 - 296)); */
  width: 100%;
  height: 100%;
  opacity: 0.4;
  transition: opacity 0.5s ease-in-out;
}

.challenge__links {
  height: 3.5rem;
}

.content-container .challenge__links {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-top: 1px solid black;
}

.challenge__link {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
  font-size: 1.1em;
  border-right: 1px solid black;

  overflow: hidden;
  outline: none;
  isolation: isolate;
  padding: 3px;
}

.challenge__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  background: linear-gradient(
    115deg,
    rgb(255, 110, 110),
    #fdfdc7,
    #d6adff,
    #f53e6c
  );
  background-size: 25% 100%;
  animation: running-background 0.75s linear infinite;
  animation-play-state: paused;
  translate: -5% 0%;
  transition: translate 0.25s ease-out, opacity 0.5s ease;
  opacity: 0;
}

.challenge__link:hover::before {
  animation-play-state: running;
  transition-duration: 0.75s;
  translate: 0% 0%;
  opacity: 1;
}

@keyframes running-background {
  to {
    transform: translateX(-25%);
  }
}

.challenge__link span {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  background: var(--challenge-bg-clr);
  border-radius: 3px;
  height: 100%;
}

/* .challenge__link:hover {
  color: white;
  background-color: rgb(55, 48, 48);
  box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
  transition-delay: 0.6s;
} */

.challenge__link:nth-last-of-type(1) {
  border: none;
  border-end-end-radius: 7px;
}

.challenge__link:nth-last-of-type(3) {
  border-end-start-radius: 7px;
}

@media (max-width: 380px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
